:root {
  --dark: #16191C;
  --dark-x: #1E2126;
  --light: #ffffff;
}

.text-light { color: #ffffff !important; }
.bg-dark { background-color: #16191C !important; }
.bg-dark-x { background-color: #1E2126; }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: #1E2126;
    outline: none;
}

.img-1 {

    background-size: cover;
    background-position: center;
}

.img-2 {
    background-size: cover;
    background-position: center;
}

.max-inline-size{
    max-inline-size: max-content;
}

.bg-dark .form-control{
  color: #ffffff !important;
}
