<div class="row">
  <div class="col-12 mb-4">
    <div class="row">
      <div class="col-md-4 mb-2">
        <div class="card card-tarjeta archivo">
          <div class="card-body">
            <div>
              <i class="far fa-file-archive"></i>
            </div>
            <div>
              <span>Mis Archivos</span>
              <span>2 archivos</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card card-tarjeta tarea">
          <div class="card-body">
            <div>
              <i class="fas fa-briefcase"></i>
            </div>
            <div>
              <span>Mis Tareas</span>
              <span>2 Tarea</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="card card-tarjeta almacenamiento">
          <div class="card-body">
            <div>
              <i class="fas fa-database"></i>
            </div>
            <div>
              <span>Almacenamiento</span>
              <span>3GB - 15GB</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-2">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-6 mb-2">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
