/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito', sans-serif; }
.h-100{ height: 100%;} .h-vh{ height: 100vh; }
